#	.gitignore:
# 	https://git-scm.com/docs/gitignore

### Custom ###
src/main/resources/application-default.yml

### General ###
target/
build/
out/
!.mvn/wrapper/maven-wrapper.jar
.gradle

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.metadata
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
